@{
    ViewBag.Title = "About";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <main>
        <section id="skills" class="row">
            <div class="col-md-8">
                <h2>Skills</h2>
                <i class="fa fa-code" aria-hidden="true"></i> &nbsp;&nbsp; Programming<br />
                <i class="fa fa-database" aria-hidden="true"></i> &nbsp;&nbsp; SQL Database Administration<br />
                <i class="fa fa-sitemap" aria-hidden="true"></i> &nbsp;&nbsp; HTML 5 and CSS 3 Development<br />
                <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;&nbsp; Agile and SCRUM Techniques<br />
                <i class="fa fa-users" aria-hidden="true"></i> &nbsp;&nbsp; Small Team Leadership<br />
                <i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp; Planning and Documentation<br />
                <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;&nbsp; Geographic Information Systems (GIS) Analysis<br />
                <i class="fa fa-globe" aria-hidden="true"></i></i>&nbsp;&nbsp; GIS Server Administration<br />
            </div>
        </section>
        <div class="row">
            <div class="col-md-4">
                <iframe src="https://api.badgr.io/public/assertions/Ww-HJPwxRkeQebK3Azew5g?embedVersion=1&amp;embedWidth=330&amp;embedHeight=186" title="Badgr Badge: Career Ready - Full Stack Web Development" style="width: 330px; height: 186px; border: 0px;"></iframe>
            </div>
            <div class="col-md-4">
                <iframe src="https://api.badgr.io/public/assertions/k2pDZGrwQ5uFiWuvODqj_w?embedVersion=1&amp;embedWidth=330&amp;embedHeight=186" title="Badgr Badge: Program Graduate - Full Stack Web Developer" style="width: 330px; height: 186px; border: 0px;"></iframe>
            </div>
            <div class="col-md-4">
                <iframe src="https://api.badgr.io/public/assertions/eNPzuy71QJSQ45TfUrtazA?embedVersion=1&amp;embedWidth=330&amp;embedHeight=186" title="Badgr Badge: Perfect Attendance - Full Stack Web Developer" style="width: 330px; height: 186px; border: 0px;"></iframe>
            </div>

        </div>
        <section id="education" class="row">
            <h2>Education and Training</h2>
            <div class="col-md-4">
                <p>
                    <img src="~/Content/images/centriq-training-squarelogo-1514989930117.png" alt="Centriq Training Logo" class="avatar" />
                    Centriq Career Training, .NET Full Stack Web Developer Track - 2018
                    <br />
                    <br />

                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <img src="~/Content/images/Esri-Logo-267x300-2.png" alt="ESRI Logo." class="avatar" />
                    ESRI, ArcGIS Server Administration - 2015
                    <br />
                    <br />

                </p>
            </div>
            <div class="col-md-4">

                <p>
                    <img src="~/Content/images/unt logo.png" alt="University of North Texas Logo" class="avatar" />
                    University of North Texas, B.S. Geography - 2009
                    <br />
                    <br />

                </p>
            </div>
        </section>
        <section id="experience" class="row">
            <h2>Experience</h2>
            <div class="col-md-12 row">
                <article class="col-md-4">
                    <h3 class=""><img src="~/Content/images/army emblem.png" class="avatar" alt="United States Army Logo." />Division G2X</h3>

                    <p>
                        Commander's Subject Matter Expert for all matters related to Human Intelligence and Counter-Intelligence. Mentored and trained subordinate soldiers.
                    </p>
                </article>
                <article class="col-md-4">
                    <h3><img src="~/Content/images/Army_National_Guard_logo.png" class="avatar" alt="Army National Guard Logo." />Criminal Intelligence Analyst</h3>
                    <p>
                        Supported Federal Law Enforcement investigations through analytical products and written reports. Used data mining techniques on commercial and law enforcement databases.
                    </p>
                </article>
                <article class="col-md-4">
                    <h3><img src="~/Content/images/blackVeatch.jpg" class="avatar" alt="Black and Veatch Logo." />GIS Analyst IV</h3>
                    <p>
                        Supported multiple engineering projects through full-stack GIS solutions. Used superior SQL skills to maintain multiple databases.
                    </p>
                </article>
            </div>
            <div class="row">
                <article class="col-md-4">
                    <h3><img src="~/Content/images/army emblem.png" class="avatar" alt="United States Army Logo." />Human Intelligence Collector</h3>

                    <p>
                        Supported the Commander's Intelligence Priorities through the collection of Human Intelligence. Produced multiple written products daily. Mentored a team of four collectors on a multi-national team.
                        <div>

                        </div>
                    </p>
                </article>
                <article class="col-md-4">
                    <h3><img src="~/Content/images/cgi logo.jpg" class="avatar" alt="CGI Federal Logo." />Curriculum Instructor</h3>
                    <p>
                        Developed detailed technical curriculum and delivered instruction to adult learners based on the ADDIE methodology.
                        <div>

                        </div>
                    </p>
                </article>
                <article class="col-md-4">
                    <h3><img src="~/Content/images/BAIR Logo.jpg" class="avatar" alt="BAIR Analytics Logo." />Law Enforcement Support Specialist</h3>
                    <p>
                        Supported clients' migration of data through the extract, translate, and load process using prorprietary software. Used various versions of SQL and MS Excell transformations to align database schemas. Provided user training through webcasts and in-person instruction. Documented product use and identified bugs.
                        <div>

                        </div>
                    </p>
                </article>
            </div>
            <div class="row">
                <article class="col-md-4">
                    <h3><img src="~/Content/images/army emblem.png" class="avatar" alt="United States Army Logo." />Research Manager</h3>
                    <p>
                        Coordinated research for 23 teams for Human Terrain Systems in Afghanistan. Coordinated requests for project support through the Social Science Research Activity. Developed GIS products and written reports to support Human Terrain Systems objectives.
                    </p>
                </article>
                <article class="col-md-4">
                    <h3><img src="~/Content/images/Courage Services Logo.png" class="avatar" alt="Courage Services, INC Logo." />Senior Human Terrain Analyst</h3>
                    <p>
                        Created written reports for various Intelligence Prepartation of the Battlefield products for SOCOM personnel. Conducted in-depth research and analysis of specific regions throughout the world. Created spatial datasets for analysis by proprietary software tools.
                    </p>
                </article>
                <article class="col-md-4">
                    <h3><img src="~/Content/images/badge-dpd.png" class="avatar" alt="Dallas Police Department Badge" />Senior Corporal of Police</h3>
                    <p>
                        Served as a patrol officer, bicycle officer, field training officer, crime analyst, and detective analyst. Used SQL transformations to clean over 15 million records and increased the geocode matching rate to over 99.999%.
                    </p>
                </article>
            </div>
        </section>
        <section id="languages" class="languages">
            <h2>Languages</h2>
            <article>
                <h3><img src="~/Content/images/paris.jpeg" class="avatar" alt="The Eifel Tower ligthed at night, Chad in the foreground." /> French</h3>
                <p>
                    I read and write French at a conversant or literate level. I speak French at an elementary or conversational level. I learned French in adulthood. I used the Memrise application to learn vocabulary and grammar rules. I also subscribed to several YouTube channels to learn idiomatic French and to become more comfortable with native speaker accents. I also read (mostly) Le Monde to keep current on current events and expand my vocabulary. I recently spent a week in Paris. I can proudly say that my French was adequate to carry on most day-to-day activities, but was sadly inadequate to file a police report (I was robbed.). C'est la vie.
                </p>
            </article>
        </section>
    </main>
</div>

