
@{
    ViewBag.Title = "Cohort";
}

<style>
    .card-min-height{
        min-height: 375px;
    }
</style>

<div class="container pt">
    <h2>@ViewBag.Title</h2>

    <p>@ViewBag.Message</p>

    <div class="col-md-12">
        <div class="row" id="cohort-cards">
            @*<span id="cohort-cards" style="float:left" ></span>*@
        </div>
    </div>
</div>

<script src="~/Content/scripts/cohort.js"></script>
