@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Full-Stack Web Developer</h1>
    <p class="lead">Using industry standard practices, I build ASP.NET websites using C#, HTML 5, CSS 3, BootStrap, JavaScript, jQuery, SQL databases, and Angular.</p>
    <p><input type="button" class="btn btn-primary" value="Learn more &raquo;" onclick="location.href='@Url.Action("Work", "Home")'" /></p>
    <div class="row">
        <div class="col-md-4">
            <iframe src="https://api.badgr.io/public/assertions/Ww-HJPwxRkeQebK3Azew5g?embedVersion=1&amp;embedWidth=330&amp;embedHeight=186" title="Badgr Badge: Career Ready - Full Stack Web Development" style="width: 330px; height: 186px; border: 0px;"></iframe>
        </div>
        <div class="col-md-4">
            <iframe src="https://api.badgr.io/public/assertions/k2pDZGrwQ5uFiWuvODqj_w?embedVersion=1&amp;embedWidth=330&amp;embedHeight=186" title="Badgr Badge: Program Graduate - Full Stack Web Developer" style="width: 330px; height: 186px; border: 0px;"></iframe>
        </div>
        <div class="col-md-4">
            <iframe src="https://api.badgr.io/public/assertions/eNPzuy71QJSQ45TfUrtazA?embedVersion=1&amp;embedWidth=330&amp;embedHeight=186" title="Badgr Badge: Perfect Attendance - Full Stack Web Developer" style="width: 330px; height: 186px; border: 0px;"></iframe>
        </div>
        
    </div>
    

</div>

<div class="row margin-slight-left">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            With over 10 years in Geographic Information Systems, I realized I was missing the front-end of the GIS Full-Stack: web development. I began the <a href="https://www.centriq.com/">Centriq Career Training Program</a> to close that gap. In the process, I discovered I enjoy coding and developing much more than I anticipated.
        </p>
        <p><input type="button" class="btn btn-primary" value="Learn more &raquo;" onclick="location.href='@Url.Action("About", "Home")'" /></p>
    </div>
    <div class="col-md-4">
        <h2>Fun Projects</h2>
        <p>I like to use my development skills to make fun side projects. How better to practice than by expressing your personality and likes at the same time?</p>
        <p><input type="button" class="btn btn-primary" value="Learn more &raquo;" onclick="location.href='@Url.Action("Work", "Home")'" /></p>
    </div>
    <div class="col-md-4">
        <h2>My Cohort of Developers</h2>
        <p>No one develops in a vacuum. These are the great people who I have worked with and made me a better developer.</p>
        <p><input type="button" class="btn btn-primary" value="Learn more &raquo;" onclick="location.href='@Url.Action("Cohort", "Home")'" /></p>
    </div>
</div>